body{
    display: none; 
}

.carousel-inner{
    height: 300px; 
    width: 300px; 
}

.imagen-carousel{
    display: block; 
    vertical-align: middle; 
    margin: auto;
    max-height: 300px; 
    max-width: 300px; 
}

.media-comentario{
    padding: 20px 20px; 
    align-content: center; 
    background-color: white; 
}

.margenSuperior{
    margin-top: 15px;
}

.barraDetallesVivienda{
    position: absolute; 
    top:23px;; 
    bottom: 0;  
    padding: 15px 15px;
}

.barraComentarios{
    height: 100%; 
    position: absolute; 
    top: 53px; 
    bottom: 0; 
    padding: 15px 15px;   
}

.divDescripcion{
    max-height: 150px; 
    overflow-y: auto; 
    text-align: justify;
}

.hDescripcion{
    text-align: left; 
}

.contenedorDescripcion{
    padding: 5px 5px 5px 5px;
}

.rowAcotada{
    height: 30px; 
    padding-left: 10px;
}

.listado{ 
    left: 7%;
    margin-top: 2%;
}

.list-group-listado{
    width: 250px;
    height: 35px;
}

.checkedStar{
    color: orange; 
}

.text-align-right{
    text-align: right;  
}

.comentariosRealizados{
    max-height: calc(100% - 300px);
    overflow-y: auto;
}

.btnContactarse{
    text-align: center; 
    width: 70%;
}

.imgComentario{
   width: 50px;
   height: 49px;
}


