body{
    display:none;
    overflow-x: hidden;
}

.navbar-brand{
    width: 50px;
}

.iconoBox{
    position: absolute; 
    top: 5px; 
    left: 10px; 
    background-color: transparent;
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: 40px 40px;
    width: 40px;
    height: 40px; 
    float: left; 
}

.cuerpo-pagina{
    margin-top: 53px; 
}

.mapa{
    height: 100%;
    min-height: 55em; 
    background:white; 
}

.barraMapaListar{
    position: absolute; 
    top: 55px; 
    height: 40px; 
    opacity: 0.90; 
    background-color: white; 
    padding: 3px 3px; 
    z-index: 1; 
}

.barraMenu{
    height: 100%;  
    max-width: 400px; 
    min-height: 55em; 
    margin: 0; 
    background-color: white; 
    padding: 15px 15px; 
}

.barraListado{
    bottom: 0; 
    display: none;
}

.margenSuperior{
    margin-top: 15px;
}

.margenIzquierdo{
    margin-left: 20px; 
}

.seleccioneBuscar{
    font-size: 1.5em; 
    font-weight: bold; 
    text-align: center; 
}

.withoutMargin{
    margin-bottom: 0%; 
}

.centeredContainer{
    width: 70%; 
    margin-right: 15%;
    margin-left: 15%;
}

.rowAcotada{
    height: 27px; 
}

.checkedStar{
    color: orange; 
}

.mediaContainer{
    margin-left: 5%; 
}

.ordenar{
    display: none; 
    min-width: 233px; 
}

.letraOrdenar{
    padding: 10px 10px; 
    margin-right: 5px; 
}