.muyOscuro {
    background-color: #19304E;
}

.oscuro {
    background-color: #0066CC;
}

.medio {
    background-color: #7dd57d;
}

.claro {
    background-color: #E6F0F0;
}

.muyClaro {
    background-color: #FFFFFF;
}

.iconoPagina {
    background-image: url(../images/llaveAzul.png);
}

.btnClaro{
    background-color: white;
    border: 1px solid #0066CC;
    color: #0066CC;

    text-align: center;
    font-size: 16px;
}

.btnClaro:hover {
    background-color: #E6F0F0;
}
  

.btnOscuro {
   font-weight: bold;
   background-color: #0066CC;
   color: white;
   border: 2px solid #0066CC;
}

.btnOscuro:hover {
    color: #0066CC;
    background-color: #E6F0F0;
}  

.checkboxes label:hover {
  background-color: #0066CC;
  color: white; 
}

