.oscuro {
    background-color: #0066CC;
}

.medio {
    background-color: #7dd57d;
}

.claro {
    background-color: #E6F0F0;
}

.muyClaro {
    background-color: #FFFFFF;
}

.iconoPagina {
    background-image: url(../images/llaveAzul.png);
}

.barraMapaListar{
    left: 11%; 
}

.barraMenuMapa{
    left:80%; 
    right: 0; 
}

.barraMenuListado{
    border-left: 1px solid #dadada; 
    left:70%; 
    right: 10%; 
}

.barraListado{
    left: 10%; 
    right: 30%;
}

.btnOscuro {
   font-weight: bold;
   background-color: #0066CC;
   color: white;
   border: 2px solid #0066CC;
}

.btnOscuro:hover {
    color: #0066CC;
    background-color: #E6F0F0;
}  

.btnOscuro:focus {
    color: white;
    background-color: #0066CC;
    outline: none !important;
    box-shadow: 0 0 20px #7dd57d;
}

.slider::-webkit-slider-thumb {
    background: #7dd57d;
}

.slider::-moz-range-thumb {
    background: #7dd57d;
}

.divDescripcion{
    border-color: #0066CC;
}

.barraComentarios{
    left: 10%;
    right: 55%; 
}

.barraDetallesVivienda{
    border-left: 1px solid #dadada; 
    left: 45%;
    right: 10%;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 8px; 
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; 
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-linear-gradient(330deg, #a1c4fd 0%, #c2e9fb 100%);
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%); 
}
