body{
    display: none; 
}

#grupo-imagenes{
    height: 300px; 
    width: 300px; 
}

.carousel-inner > .item > img {
    margin: auto;
}

.media-comentario{
    padding: 20px 20px; 
    align-content: center; 
    background-color: white; 
}

.margenSuperior{
    margin-top: 15px;
}

.barraDetallesVivienda{
    position: absolute; 
    top:23px;; 
    bottom: 0;  
    padding: 15px 15px;
}

.barraComentarios{
    height: 100%; 
    position: absolute; 
    top: 53px; 
    bottom: 0; 
    padding: 15px 15px;   
}

.divDescripcion{
    position: absolute; 
    top:75%; 
    bottom: 5%; 
    left: 55%;
    right: 5%;
    overflow-y: scroll; 
    border-width: 2px; 
    border: solid;
}

.hDescripcion{
    position: absolute; 
    top:70%; 
    bottom: 20%;  
    left: 55%;
    right: 5%;
}

.contenedorDescripcion{
    padding: 5px 5px 5px 5px;
}

.rowAcotada{
    height: 30px; 
    padding-left: 10px;
}

.listado{ 
    left: 7%;
    margin-top: 2%;
}

.list-group-listado{
    width: 250px;
    height: 35px;
}

.botonContactarse{
    position: absolute; 
    top: 90%; 
    left: 17%;
}

.checkedStar{
    color: orange; 
}

.text-align-right{
    text-align: right;  
}

.comentariosRealizados{
    max-height: calc(100% - 300px);
    overflow-y: auto;
}




