.oscuro {
    background-color: #c4445a;
}

.medio {
    background-color: #e9614c;
}

.claro {
    background-color: #ffeff2;
}

.muyClaro {
    background-color: #FFFFFF;
}

.iconoPagina {
    background-image: url(../images/llaveRosa.png);
}

.barraMapaListar{
    left: 31%; 
}

.barraMenuMapa{
    left:0; 
    right: 80%; 
}

.barraMenuListado{
    border-right: 1px solid #dadada; 
    left:10%; 
    right: 70%; 
}

.barraListado{
    left: 30%; 
    right: 10%;
}

.btnOscuro {
    font-weight: bold;
    background-color: #c4445a;
    color: white;
    border: 2px solid #c4445a;
}

.btnOscuro:hover {
    color: #c4445a;
    background-color: #ffeff2;
}

.btnOscuro:focus {
    color: white;
    background-color: #c4445a;
    outline: none !important;
    box-shadow: 0 0 20px #e9614c;
}

.slider::-webkit-slider-thumb {
    background: #e9614c;
}

.slider::-moz-range-thumb {
    background: #e9614c;
}

.divDescripcion{
    border-color: #c4445a;
}

.barraComentarios{
    left: 55%;
    right: 10%; 
    border-left: 1px solid #dadada; 
}

.barraDetallesVivienda{
    left: 10%;
    right: 45%;
}