.muyOscuro {
    background-color: #557bae;
}

.oscuro {
    background-color: #8592b5;
}

.medio {
    background-color: #7dd57d;
}

.claro {
    background-color: #abd4d8;
}

.muyClaro {
    background-color: #f9f0f4;
}

.iconoPagina {
    background-image: url(../images/llaveAzul.png);
}

  
  

