body{
    display: block; 
}

.barraDetallesVivienda{
    position: absolute; 
    top:23px;; 
    bottom: 0; 
    z-index: 0; 
    left: 5%;
    padding: 15px 15px;
    right: 35%;
}

.barraComentarios{
    position: absolute; 
    top: 53px; 
    bottom: 0; 
    z-index: 2; 
    right: 0;
    background-color: black; 
    padding: 15px 15px;  
    left:65%; 
}

.divDescripcion{
    position: absolute; 
    top:75%; 
    bottom: 5%; 
    z-index: 10; 
    left: 55%;
    right: 5%;
    overflow-y: scroll; 
    border-width: 2px; 
    border: solid;
}

.hDescripcion{
    position: absolute; 
    top:70%; 
    bottom: 20%; 
    z-index: 10; 
    left: 55%;
    right: 5%;
}

.contenedorDescripcion{
    padding: 5px 5px 5px 5px;
}

.margenSuperior{
    margin-top: 15px;
}

.rowAcotada{
    height: 30px; 
    padding-left: 10px;
}

.listado{ 
    left: 7%;
    margin-top: 2%;
}

.list-group-item{
    width: 250px;
    height: 35px;
}
