.checkboxes {
  display: none;
  border: 1px #dadada solid;
}

.checkboxes label {
  display: block;
}

.margenIzquierdoCheckBoxReal{
    margin-left: 5%;
}

.btnCheckBox{
    text-align: left; 
    align-content: center; 
    border: 1px solid black;
    border-radius: 3px;
}

.fakeCheckbox{
    margin-left: 2%; 
    width: 100%; 
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  height: 100%;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.botonCerradoCheckbox{
    margin-left: 8%; 
    margin-right: 8%; 
    text-align: center; 
    align-content: center;
    color: black; 
    background-color: transparent; 
}
