body{
    display: none; 
}

.word-wrap{
	word-wrap: break-word;
	word-break: break-all;
}

.cuerpo-pagina{
    margin-top: 53px; 
    margin-left: 7%; 
    margin-right: 7%; 
}

.rowCarousel{
    height: 300px; 
}

.carousel-size{
    max-height: 300px; 
    max-width: 500px; 
}

.imagen-carousel{
    overflow: hidden; 
    vertical-align: middle; 
    margin: auto;
    width: auto; 
    height: auto; 
    max-height: 300px; 
    max-width: 500px; 
}

.media-comentario{
    padding: 20px 20px; 
    align-content: center; 
    background-color: white; 
}

.margenSuperior{
    margin-top: 15px;
}

.barraComentarios{
    height: 100%; 
    bottom: 0; 
    padding-top: 20px;
}

.borderDescripcion{
    border: 1px solid #dadada;
	overflow-y: auto;
	overflow-x: hidden; 
    padding-top: 1%; 
    padding-bottom: 3%; 
    padding-left: 3%; 
    padding-right: 2%;
}

.divDescripcion{
    max-height: 100px;  
    text-align: justify;
}

.contenedorDescripcion{
    padding: 5px 5px 5px 5px;
}

.list-group-listado{
    min-width: 25px;
    width: 100%; 
    height: 35px; 
}

.usuarioComentario{
    margin-left: 0px;
    margin-right: 10px;  
}

.checkedStar{
    color: orange; 
}

.nonCheckedStar{
    color: lightgrey; 
}

.text-align-left{
    text-align: left; 
}

.text-align-right{
    text-align: right;  
}

.text-align-justify{
    text-align: justify; 
}

.text-align-center{
    text-align: center; 
}

.comentariosRealizados{
	height: auto; 
    max-height: calc(55em - 400px);
    overflow-y: auto;
}

.btnContactarse{
    text-align: center; 
    width: 70%;
}

.imgComentario{
   width: 50px;
   height: 49px;
}

.rowAcotada{
    margin-top: 0%; 
    margin-bottom: 0%;
}

.textoDetalleVivienda{
    font-size: 150%; 
    margin-bottom: 0%;
    padding-right: 30px;
}

.form-control[disabled] {
    cursor: default;
}

textarea {
    resize: none;
}