.oscuro {
    background-color: #c4445a;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #c4445a;
}

.navbar-inverse .navbar-nav a{
    color: #c4445a;
    font-weight: bold;
}

.mapa{
    float: right; 
}

.barraMenu{
    float:left; 
}

.listadoViviendas{
    padding-left: 10px;
}

.btnOscuro {
    font-weight: bold;
    background-color: #c4445a;
    color: white;
    border: 2px solid #c4445a;
}

.btnOscuro:hover {
    color: #c4445a;
    background-color: #ffeff2;
}

.btnOscuro:focus {
    color: white;
    background-color: #c4445a;
    outline: none !important;
    box-shadow: 0 0 20px #e9614c;
}

.slider::-webkit-slider-thumb {
    background: #e9614c;
}

.slider::-moz-range-thumb {
    background: #e9614c;
}

.barraComentarios{
    float: right;
}

.barraDetallesVivienda{ 
    float: left;  
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #F5F5F5;
  border-radius: 8px; 
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5; 
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#ff9a9e), color-stop(99%, #fecfef), to(#fecfef));
  background-image: -webkit-linear-gradient(bottom, #ff9a9e 0%, #fecfef 99%, #fecfef 100%);
  background-image: linear-gradient(to top, #ff9a9e 0%, #fecfef 99%, #fecfef 100%); 
}