body{
    display:none;
    overflow-x: hidden;
}

.mapa{
    height: 100%;
    width: 100%;
    min-height: 48em; 
    background:white; 
}

.barraMenu{
    height: 100%;  
    max-width: 400px; 
    min-height: 50em; 
    margin: 0; 
    background-color: white; 
    padding-top: 15px; 
}

.margenSuperior{
    margin-top: 15px;
}

.margenInferior{
    margin-bottom: 15px;
}

.margenIzquierdo{
    margin-left: 20px; 
}

.seleccioneBuscar{
    font-size: 1.5em; 
    font-weight: bold; 
    text-align: center; 
}

.withoutMargin{
    margin-bottom: 0%; 
}

.centeredContainer{
    width: 70%; 
    margin-right: 15%;
    margin-left: 15%;
}

.rowAcotada{
    height: 27px; 
}

.rowConPadding{
    padding-top: 5px;
    padding-left: 10px;
}

.checkedStar{
    color: orange; 
}

.nonCheckedStar{
	color: lightgrey; 
}

.mediaContainer{
    margin-left: 5%; 
}

#barraOrdenar{
    display:none; 
}

.letraOrdenar{
    padding-top: 10px;
    margin-right: 5px; 
}