body{
    display: none; 
}

.navbar-brand{
    width: 50px;
}

.iconoBox{
    position: absolute; 
    top: 5px; 
    left: 10px; 
    background-color: transparent;
    background-repeat: no-repeat; 
    background-position: center center;
    background-size: 40px 40px;
    width: 40px;
    height: 40px; 
    float: left; 
}

.carousel-size{
    max-height: 300px; 
    max-width: 500px; 
}

.rowCarousel{
    height: 300px; 
}

.imagen-carousel{
    overflow: hidden; 
    vertical-align: middle; 
    margin: auto;
    width: auto; 
    height: auto; 
    max-height: 300px; 
    max-width: 500px; 
}

.media-comentario{
    padding: 20px 20px; 
    align-content: center; 
    background-color: white; 
}

.margenSuperior{
    margin-top: 15px;
}

.barraDetallesVivienda{
    position: absolute; 
    top: 23px;; 
    bottom: 0;  
    padding-top: 1.5%; 
    padding-right: 0%;
    padding-left: 3%;
}

.barraComentarios{
    height: 100%; 
    position: absolute; 
    top: 53px; 
    bottom: 0; 
    padding: 15px 15px;   
}

.borderDescripcion{
    border: 1px solid #dadada;
    padding-top: 1%; 
    padding-bottom: 3%; 
    padding-left: 3%; 
    padding-right: 2%;
}

.divDescripcion{
    max-height: 100px; 
    overflow-y: auto; 
    text-align: justify;
}

.contenedorDescripcion{
    padding: 5px 5px 5px 5px;
}

.list-group-listado{
    min-width: 25px;
    width: 100%; 
    height: 35px;
}

.listadoComentario{
    max-height: 120px;
    overflow-y: auto; 
}

.usuarioComentario{
    margin-left: 10px;
    margin-right: 10px; 
}

.checkedStar{
    color: orange; 
}

.text-align-left{
    text-align: left; 
}

.text-align-right{
    text-align: right;  
}

.text-align-justify{
    text-align: justify; 
}

.text-align-center{
    text-align: center; 
}

.comentariosRealizados{
    max-height: calc(100% - 400px);
    overflow-y: auto;
}

.btnContactarse{
    text-align: center; 
    width: 70%;
    background-color: transparent;
}

.imgComentario{
   width: 50px;
   height: 49px;
}

.rowAcotada{
    margin-top: 0%; 
    margin-bottom: 0%;
}

.textoDetalleVivienda{
    font-size: 1.5em; 
    margin-bottom: 0%;
}
