<div class="item active">
    <img class="img-responsive center-block imagen-carousel" src={{"/public/"~ vivienda.imagenes[0]}} alt="Imagen Vivienda"/>
</div>

{% for images in vivienda.imagenes|slice(1) %}
    <div class="item">
        <img class="img-responsive center-block imagen-carousel" src={{"/public/"~ images}} alt="Imagen Vivienda"/>
    </div>
{% endfor %}   


