<li class="list-group-item margenSuperior listadoComentario">
    <div class="media">
        <div class="media-left"> 
            <img class="media-object imgComentario text-align-left" src='/public/images/imgComentario.png'/>
        </div>
        <div class="media-body word-wrap">
            <div class="row usuarioComentario">
                <p class='media-heading text-align-right'>{{comentario.fecha}}</p>
                <div class="media-heading pull-right"> 
                    {% set cantEstrellas=comentario.calificacion %}
                    {% include 'rating.twig' %}
                </div>
                <h5 class='media-heading pull-left'>{{comentario.usuario}}:</h5>
            </div>
            <div class="row">
                <p class='text-align-justify col-lg-12'>{{comentario.texto}}</p>
            </div>
        </div>
    </div>
</li>