<div class="container-fluid cuerpo-pagina">
    <div class="row center-block">
        <div id="barraMenu" class="col-xs-12 col-sm-5 col-md-4 col-lg-3 barraMenu">
            <div class="row">
                <p class="seleccioneBuscar">Seleccione para buscar: <p>
            </div>
            <div class="row margenIzquierdo">
                <div class="row rowAcotada">
                    <div class="checkbox"> <label for="Alquiler"><input type="checkbox" id="Alquiler" value="Alquiler">Alquiler</label> </div>
                </div>
                <div class="row rowAcotada">
                    <div class="checkbox"> <label for="Compra"><input type="checkbox" id="Compra" value="Compra">Compra</label> </div>
                </div>
                <div class="row rowAcotada margenSuperior">
                    <div class="checkbox"> <label for="Departamento"><input type="checkbox" id="Departamento" value="Departamento">Departamento</label> </div>
                </div>
                <div class="row rowAcotada">
                    <div class="checkbox"><label for="Casa"><input type="checkbox" id="Casa" value="Casa">Casa</label> </div>
                </div>
                <div class="row">
                    <div class="checkbox"><label for="viviendaCompartida"><input type="checkbox" id="viviendaCompartida" value="Vivienda Compartida">Vivienda Compartida</label> </div>
                </div>
                <div class="row margenSuperior">
                    <p>Ambientes:</p>
                </div>
                <div class="row">
                    <select id="ambienteCheckboxes" class="selectpicker" multiple title="- Seleccionar -">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="+5">más de 5</option>
                    </select>
                </div>
                <div class="row margenSuperior">
                    <p>Dormitorios:</p>
                </div>
                <div class="row">
                    <select id="dormitoriosCheckboxes" class="selectpicker" multiple title="- Seleccionar -">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="+5">más de 5</option>
                    </select>
                </div>
                <div class="row margenSuperior">
                    <p>Baños: </p>
                </div>
                <div class="row">
                    <select id="banosCheckboxes" class="selectpicker" multiple title="- Seleccionar -">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="+3">más de 3</option>
                    </select>
                </div>
                <div class="row margenSuperior">
                    <p>Cocheras: </p>
                </div>
                <div class="row">
                    <select id="cocherasCheckboxes" class="selectpicker" multiple title="- Seleccionar -">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="+2">más de 2</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="centeredContainer">
                    <p class="precioMaximo">Precio máximo: <span id="idTxt">0</span></p>
                    <div class="row">
                        <div class="col-lg-6">
                            <p class="withoutMargin">$<span id="minimo"></span></p>
                        </div>
                        <div class="col-lg-6 alineadoDerecha">
                            <p class="withoutMargin">$<span id="maximo"></span></p>
                        </div>
                    </div>
                    <div class="slidecontainer">
                        <input type="range" min="0" max="100" value="0" class="slider" id="miRango" oninput="sliderPrecio('miRango','idTxt')">
                    </div>
                    <div>
                        <button class="btn btnOscuro centeredContainer" onClick="buscar();">Buscar</button>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
            <div class="row rowConPadding">
                <div id="botonesMapaListar">
                    <button id="botonMapa" type="button" class="btn btnOscuro" disabled onClick="ocultarListado();">MAPA</button>
                    <button id="botonListado" type="button" class="btn btnOscuro" onClick="mostrarListado();">LISTADO</button>
                    <div id="barraOrdenar" class="listadoViviendas pull-right">
                        <p id="ordenarPor" class="letraOrdenar pull-left"> Ordenar por: </p>
                        <div class="btn-group">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        - Seleccionar - <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Precio</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
                    
            <div class="row rowConPadding listadoViviendas"><div id="mapa" class="mapa"></div>  </div>

            <div id="barraListado" class="row listadoViviendas">
                <ul id="contenedorListado" class="list-group">
                    {% if mensaje %}
                        <div class="alert alert-estilo" role="alert">
                            {{mensaje}}
                        </div>
                    {% endif %}
                    {% for vivienda in viviendas %}
                        {% include 'building-data.twig' %} 
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>