<li class="active" data-target='#myCarousel' data-slide-to=0> </li>
{% for images in vivienda.imagenes|slice(1) %}
    <li data-target='#myCarousel' data-slide-to={{loop.index}}> </li>
{% endfor %}    



