<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name='viewport', content='width=device-width, initial-scale=1.0'> 
    <link rel='stylesheet' href='/public/bootstrap/stylesheets/bootstrap.min.css'>
    <link rel='stylesheet' href='/public/bootstrap/stylesheets/bootstrap-social.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='/public/stylesheets/navbar.css' >
    <link rel='stylesheet' href='/public/stylesheets/estiloRosa.css' data-color='Rosa' id='linkEstilo'>
    {% block stylesheets %}{% endblock %}
    <title>{{ title }}</title>
  </head>
  <body>
    {% block body %}{% endblock %}
        
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="/public/bootstrap/javascripts/bootstrap.min.js"></script>

    <script type="text/javascript" src="/public/javascripts/administradorEstilos.js"></script>
    <script type="text/javascript" src="/public/javascripts/administradorDatosVivienda.js"></script>
    <script type="text/javascript" src="/public/javascripts/localStorageEstilo.js"></script>
    {% block scripts %}{% endblock %}
  </body>
</html>
