{# navbar.twig #}

<header class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"> <img id="imagenLogo" alt="Logo" src="images/llaveRosa.png" class="iconoBox"></a>
        </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
            {% if activemenu == 'buildings-list' %}
                <form class="navbar-form navbar-left">
                    <div class="input-group">
                        <input type="search" class="form-control" placeholder="Búsqueda por palabra">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-default btnOscuro">Buscar</button>
                        </span>
                    </div>
                </form>
            {% endif %} 
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Iniciar sesión</a></li>
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#"> Estilos <b class="caret"></b></a>
                    <ul id="seleccionarEstilo" class="dropdown-menu">
                        <li><a onClick="cambiarEstilo('Rosa'); modificarEstiloLocalStorage()">Rosa</a></li>
                        <li class="divider"> </li>
                        <li><a onClick="cambiarEstilo('Azul'); modificarEstiloLocalStorage()">Azul</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>